<% content_for(:title, "生成結果例追加画面") %>
<h1>生成結果例の追加画面です。</h1>
<p>以下のフォームから生成結果例を追加できます</p>
<h2>プロンプト内容</h2>
<p><%= @prompt.prompt_text %></p>
<h2>生成結果例追加フォーム</h2>
<%= form_with model: [@prompt, @new_generated_content], url: "/prompts/#{@prompt.id}/new" do |form| %>
    <p>
        <%= form.label :publisher, "投稿者名" %>
        <%= form.text_field :publisher %>
    </p>
    <p>
        <%= form.label :text, "内容" %>
        <%= form.text_area :text %>
    </p>
    <p>
        <%= form.label :URL, "共有リンクURL" %>
        <%= form.text_field :URL %>
    </p>
    <p>
        <%= form.submit "追加" %>
    </p>
<% end %>
<%= link_to "戻る", "/prompts" %>