<% content_for(:title, "トップ") %>
<h1>プロンプトアイディア共有サービスです。</h1>
<p>ChatGPTなどの生成系AIのプロンプトのアイディアを共有するサイトです。</p>
<%= link_to "プロンプトを投稿する", "/new", class: "btn btn-primary" %>
<h2>現在登録されているプロンプト（最新１０件）</h2>
<% @prompts.each do |prompt| %>
    <h3><%= prompt.title %></h3>
    <p>投稿者: <%= prompt.publisher %></p>
    <p><%= prompt.description %></p>
    <%= link_to "詳細", "/prompts/#{prompt.id}" %>
<% end %>
